pytest==8.1.1

# Airflow Core & Providers
apache-airflow
apache-airflow-providers-postgres
apache-airflow-providers-common-sql

# Data Processing & Analysis
pandas

# Database Connection & Drivers
SQLAlchemy
psycopg2-binary
